@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --button-min-height-mobile: 120px;
  --button-min-height-desktop: 160px;
  --image-size-small-mobile: 64px;
  --image-size-small-desktop: 96px;
  --image-size-large-mobile: 96px;
  --image-size-large-desktop: 128px;
}